<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBblWz0TZX6g62eqZpvdDVnDL1AOSLcDUk</string>
	<key>GCM_SENDER_ID</key>
	<string>735368650407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTodoApp</string>
	<key>PROJECT_ID</key>
	<string>my-todo-5d1e7</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-5d1e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735368650407:ios:a0df3ac6c20b6c291a8582</string>
</dict>
</plist>